[v-cloak] {
  display: none !important;
}

html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 40px 20%;
}

.top {
  height: 60px;
  width: 100%;
  display: flex;
}

#time, .time {
  width: 100px;
  padding-right: 20px;
}

.search {
  flex: 1;
}

.tips {
  color: lightgrey;
  text-align: center;
}

.list {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  margin-bottom: 20px;
  margin-right: 20px;
  width: calc((100% - 60px) / 4);
  height: 80px;
  background: #f5f7fa;
  color: #858585;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-of-type(4n+0) {
  margin-right: 0;
}

.item:hover {
  background: #e0e0e0;
  color: #2F2F2F;
}

@media screen and (max-width: 480px) {
  #time {
    display: none;
  }

  .item {
    padding: 0 30px;
    width: calc((100% - 60px) / 1);
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item:nth-of-type(n+0) {
    margin-right: 0;
  }

}

@media (prefers-color-scheme: dark) {
  html, body, #app {
    background: black;
  }

  .el-divider {
    background: grey;
  }

  .el-divider__text {
    background: black;
    color: white;
  }

  .el-input {
    background: black;
  }

  .el-input > input {
    background: black!important;
    border-color: #3f3b3b !important;
    color: white!important;
  }

  .item {
    background: #858585;
    color: #f5f7fa;
  }
}
