<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notion | Bruce Kong</title>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="favicon.png" type="image/x-png">
  <link rel='stylesheet' href='css/index.css'>
  <!-- 引入utils -->
  <script src='js/utils.js'></script>
  <script src='js/time-animation.js'></script>
  <script src='js/index.js'></script>
</head>
<body>
<div id='app' v-cloak>
  <div class='top'>
    <div class='search'>
      <el-input ref='search'
                size='medium'
                v-model="search"
                @keydown.enter.native="handlerSearch()"
                v-on:keyup.native="handlerSearch"
                @blur="$event.target.focus()"
                placeholder="请输入搜索关键词">
        <i slot="prefix" class="el-input__icon el-icon-search"></i>
      </el-input>
    </div>
  </div>
  <div class='tips'>* 鼠标点击卡片预览，按住Alt+鼠标点击卡片打开新页面预览，按住Ctrl+鼠标点击可复制卡片地址</div>
  <div class='list'>
    <div class='item'
         v-for='comp in components'
         @click='setUrl($event, comp.url)'
         @click.alt.exact='setUrl($event, comp.url)'
         @click.ctrl.exact='copy($event, comp.url)'
         :index='comp.id'
    >
      <div class='item-context'>{{comp.name}}</div>
    </div>
  </div>
</div>
</body>
</html>
